[submodule "src/ros2_shm_msgs"]
	path = src/ros2_shm_msgs
	url = https://github.com/ZhenshengLee/ros2_shm_msgs.git
[submodule "src/stream_manager"]
	path = src/stream_manager
	url = https://github.com/ahmedmsalah99/StreamManager.git
[submodule "simulation/R-VIO"]
	path = simulation/R-VIO
	url = https://github.com/ahmedmsalah99/R-VIO.git
[submodule "src/R-VIO"]
	path = src/R-VIO
	url = https://github.com/ahmedmsalah99/R-VIO.git
